@CHARSET "UTF-8";

body {
    font-family: 'Happy Monkey';
    color: #0F52BA;
}
input {
	font-family: 'Happy Monkey';
	font-size: 15px;
	background-color: #EFEFEF;
    color: #0F0F0F;
    border:none;
	border-radius: 10px;
	width:300px;
	left: 200px;
	padding: 1em;
    text-align:center;
    margin: 10px;
}

.submitButton {
	font-size:20px;
	width: 100px;
	border-radius:5px;
	border-color:#0F52BA;
	background-color:#EFEFEF;
	left:300px;
}

.buttonHolder {
     text-align:center;   
    vertical-align:center;
}
