@CHARSET "UTF-8";

body {
    font-family: 'Happy Monkey';
    color: #0F52BA;
}
input {
	font-family: 'Happy Monkey';
	font-size: 15px;
	background-color: #EFEFEF;
    color: #0F0F0F;
    border-style:none;
	border-radius: 10px;
	width:300px;
	
	padding: 1em;
    text-align:center;
    margin-top: 10px;
}

input[type="button"]:hover{background-color:#3F82DA;}
input[type="submit"]:hover{background-color:#3F82DA;}

input[type="submit"] {
	background-color:#0F52BA;
	color:#ffffff;
	width:auto;
}

input[type="checkbox"] {
	width:auto;;
	height:auto;
}

.submitButton {
	font-size:20px;
	width: 100px;
	border-radius:5px;
	border-color:#0F52BA;
	background-color:#EFEFEF;
}

input[type='radio']{margin-top:2px;width:15px;height:15px; padding:2px;}

#sub {
	background-color:#EFEFEF;
	color:#000000;
	float:right;
	margin-right:0px;
	border-style:none;
}

.buttonHolder {
     text-align:center;   
    vertical-align:center;
    width: 25%;
    left: 35.5%;
    position:absolute;
}

.buttonHolder input[type="text"] {width:94%;}
.buttonHolder input[type="password"] {width:94%;}

.buttonHolder a {float:left; width:auto; padding:0em; font-size:20px;margin-bottom:5px;}

#topbar {
	float:top;
	width:100%;
	border-color:#05F0F9;
	height: 40px;
	background-color:#0F52BA;	
}

#homebutton {
	width: 20px;
	background-color: #0F52BA;
	float:right;
}

#navbar {
width:100%;
height:40px;
background-color:#0F52BA;
}

#navbar ul {
width:70%;
float:left;
margin:0 auto 0 auto;
}

#navbar ul li {
float:left;
color:#FFFFFF;
margin-top:5px;
padding:0 20px 0 20px;
border-right:1px solid #FFF;
border-left:1px solid #FFF;
height:40px;
list-style:none;
display:block;
line-height:30px;
text-align:center;
cursor:pointer;
}

#navbar ul li:hover {
background-color:#CCC;
}

#searchbar {
	width:20%;
	background-color:#FFFFFF;
	color:#0F52BA;
	height:5px;
	margin:3px;
	border-radius:2px;	
}

a.topbarlinks {
	color:#FFFFFF;
	text-decoration:none;
}

.frienddiv {
	width:100%;
	height:80px;
}

.frienddiv li {
	border-style:solid;
	border-top:thick double #0F52BA;
	margin-left:10%;
	margin-right:10%;
	list-style:none;
	display:block;
	line-height:30px;
	text-align:center;
	
}

.messagebutton {
	width:100px;
	height:20px;
	background-color:#0F52BA;
	color:#FFFFFF;
	border-radius:4px;
	right:20px;
}

#friendlist {  }
#friendlist ul { list-style:none; }
#friendlist ul li { font-family:Georgia,serif,Times; font-size:22px; margin:4px; float:left; }
#friendlist ul li .friendlistitem { display:block; width:500px; height:70px; background-color:#0F52BA; border-left:5px solid #222; border-right:5px solid #222; padding-left:10px;
  }
 #friendlist ul li a {text-decoration:none; color:#ffffff; float:right; margin-right:70px;margin-top:20px}
#friendlist ul li .friendlistitem:hover {  -moz-transform:rotate(-5deg); -moz-box-shadow:10px 10px 20px #000000;
  -webkit-transform:rotate(-5deg); -webkit-box-shadow:10px 10px 20px #000000;
  transform:rotate(-5deg); box-shadow:10px 10px 20px #000000; }
  #friendlist ul li input {width:100px; height:50px;padding:1px;border-radius:4px; font-size:14px;background-color:#ffffff; margin-top:8px;margin-right:10px;top:0px;float:right; color:#0F52BA;}
  
  textarea {
    resize:none;
  	border-radius:10px;
  	border:5px solid #0F52BA;
  	padding:5px;
  	margin:5px;
  	color:#0F52BA;
  	background-color:#f8f8f8;
  	font-family: 'Happy Monkey';
  }

#messagefriendname {
	border-radius:4px;
	background-color:#cfcfcf;
	padding:5px;
	margin:3px;
}

.messagetitles {width:100%; border-bottom:4px solid #0F52BA; float:left; margin-top:5px;}

.fromtolink {}

.pictureWelcome {width:100%;float:left;}

.h2bar {width:100%; border-bottom:5px solid #0F52BA;float:left;}

.recentquizclass {display:none;}

.quizlist {float:left; }
.quizlist ul {list-style:none; float:left; display:none;}
.quizlist ul .recentlytakenquizzesclass {display:none;}
.quizlist ul .recentlycreatedquizzesclass {display:none;}
.quizlist ul li {margin-top: 2px; margin-bottom:2px; margin-left:5%; border-bottom:50px solid #ffffff;}
.quizlist ul li .quiz {float:left; width:85%; height:50px; position:absolute; color:#ffffff;background-color:#0F52BA; margin-top:2px;}
.quizlist ul li .top {background-color:#ffffff; color:#0F52BA;}
.quizlist ul li .name {width:20%; height:50px; padding-top: 15px; border-right:1px solid #ffffff; float:left;text-align:center; }
.quizlist ul li .createdby {width:20%; height:50px; padding-top: 15px; border-right:1px solid #ffffff; float:left;text-align:center;}
.quizlist ul li .category {height:50px; padding-top: 15px; border-right:1px solid #ffffff; text-align:center;}
.quizlist ul li .takequiz {background-color:#ffffff; color:#0F52BA; width:20%; height:50px; padding:1px; float:right; text-align:center; overflow:hidden;}
.quizlist ul li .takequiz input {width:70%; height:70%; padding:0em;padding-top:5%; margin-top:1%; overflow:hidden;}
.quizlist ul li .numplays {width:8%; height:50px; padding-top: 15px;  border-left:1px solid #ffffff; border-right:1px solid #ffffff; float:right;text-align:center;}
.quizlist ul li .highscore {width:8%; height:50px; padding-top: 15px; border-right:1px solid #ffffff; float:right;text-align:center; }

#recentquizbar {}

.profileimg {width:150px; height:150px;}
.profileimg img {width:100%; height:100%;}

.achievements {float:left;}
.achievements ul {list-style:none; float:left; display:none;}
.achievements ul li {display:block;margin-top:5px;margin-bottom:2px; margin-left:5%; border-bottom:100px solid #ffffff}
.achievements ul li .achievement {display:block;float:left; width: 85%; height:100px; position:absolute;}
.achievements ul li .icon {width:20%; float:left;padding:0em; margin-top:0em; overflow:hidden}
.achievements ul li .icon img {width:100%; height:100%; padding:0em; overflow:hidden}
.achievements ul li .righticon {width:10%; float:right; height:50px;}
.achievements ul li .achievementtext {height:50px;}


#inbox {}
#inbox ul {list-style:none;float:left}
#inbox ul li {display:block; margin-top:2px; margin-bottom:2px; margin-left:5%; margin-right:5%; border-bottom:50px solid #ffffff; }
#inbox ul li .inboxmessage {display:block; float:left; width:90%; height:50px; position:absolute; color:#ffffff; margin-top:2px; display:none;}
#inbox ul li .top {background-color:#ffffff; color:#0F52BA;}
#inbox ul li .newinboxmessage {background-color:#3F82EA;width:100%; height:100%;}
#inbox ul li .readinboxmessage {background-color:#0F52BA; width:100%; height:100%;}
#inbox ul li .icon {width:6%; border-right:1px solid #ffffff; float:left; display:block;}
#inbox ul li .icon input {width:100%; height:100%; padding:0em; margin-top:0em; overflow:hidden;}
#inbox ul li .icon img {width:100%; height:100%}
#inbox ul li .fromtomessage {width:13%; height:35px; float:left;border-right:1px solid #ffffff; text-align:center; display: table-cell; padding-top:15px;}
#inbox ul li .messagemessage {height:35px; border-right:1px solid #ffffff; text-align:center; padding-top:15px; overflow:hidden; text-overflow:ellipsis; white-space: nowrap;}
#inbox ul li  .lefticon {float:left;}
#inbox ul li .righticon {float:right;}
#inbox ul li .blankspace {width:2%; height:50px; overflow:hidden; white:nowrap; background-color:#ffffff !important; float:left;}


#friendrequests {}
#friendrequests ul {list-style:none; float:left;}
#friendrequests ul li {display:block; margin-top:5px; margin-bottom:5px; margin-left:2%;margin-right:5%; border-bottom:75px solid #000000;}
#friendrequests ul li .friendrequest {float:left; width:80%; height: 75px; position:absolute;}
#friendrequests ul li .icon {width:10%; height:100%; margin-top:0em; float:left; padding:0em; display:block;}
#friendrequests ul li .icon img {width:100%; height:100%; padding:0em;}
#friendrequests ul li .friendrequestmessage {margin-left:10px; float:left; width:40%; height:75px;padding-top:30px;}
#friendrequests ul li .acceptreject {float:left; width:10%; height:100%; margin-right:10px;}
#friendrequests ul li .acceptreject input {height:100%; width:100%; background-color:#0F52BA; color:#ffffff;}


.bigblog {width:100%; height:100px; background-color:#000000; display:block;float:left;}


.achievementAwards {width:100%; height:300px; position:absolute;}
.achievementAwards .achievementAward {display:block;width:200px;height:300px;position:absolute;margin:100px; border-right:200px solid #ffffff;}
.achievementAwards .icon {width:100%; float:left;padding:0em;margin-top:0em;overflow:hidden}
.achievementAwards .icon img {width:100%;height:50%;padding:0em;overflow:hidden}
.achievementAwards .text {text-align:center}

.announcements {}
.announcements ul {list-style:none; float:left; display:none;}
.announcements ul li {display:block; margin-top:5px; margin-bottom:5px; margin-left:2%;margin-right:5%; border-bottom:75px solid #000000;}
.announcements ul li .announcement {float:left; width:60%; height: 75px; position:absolute;}
.announcements ul li .icon {width:10%; height:100%; margin-top:0em; float:left; padding:0em; }
.announcements ul li .icon img {width:100%; height:100%; padding:0em;}
.announcements ul li .announcementmessage {margin-left:10px; float:left; width:80%; height:75px;padding-top:30px;}

.newsfeed {}
.newsfeed ul {list-style:none; float:left; }
.newsfeed ul li {margin-top:5px; margin-bottom:5px; margin-left:2%;margin-right:5%; border-bottom:75px solid #000000;display:none;}
.newsfeed ul li .newsfeedentry {float:left; width:60%; height: 75px; position:absolute; overflow:hidden;}
.newsfeed ul li .icon {width:10%; height:100%; margin-top:0em; float:left; padding:0em; }
.newsfeed ul li .icon img {width:100%; height:100%; padding:0em;}
.newsfeed ul li .text {margin-left:10px; float:left; width:80%; height:75px;padding-top:30px;}

.seemore {width:100%; height:20px;float:left;}
.seemore:hover {background-color:#0F52BA; color:#ffffff;}

.numNotifications {background-color:#ff0011; color:#ffffff; border-radius:6px; padding:3px; margin-left:4px;margin-right:0px;}
.messagenotification {display:block; display:none; width:100px; height:100px; background-color:#CCC; border-radius:5px;color:#0F52BA}

.buttonscontainer {float:left; height:90px; width:150px; background-color:#ff0000;text-align:center;padding-top:30px;padding-bottom:30px;}
.friendsbutton {height:60px; width:90%;}
.friendsbutton .friendspending {}
.friendsbutton .alreadyfriends {width: 70px; background-color:#10f310; color:#ffffff; padding:5px; border-radius:5px; margin:3px; margin-top:40px;position:relative;}
.profileimgfriends {height:150px; width:50%; float:left; position:absolute;}
.profileimgfriends .profileimg {float:left;width:150px;}